In [1]:
import pandas as pd

In [2]:
pd.read_csv("nba_1415.csv")

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,Aaron Brooks,CHI,30,12,6,6,11.0,4.5,1.8,5.1,...,1.5,0.9,0.8,0.3,0.1,1.3,7.9,0,0,-3.2
1,Al Horford,ATL,29,16,8,8,32.6,14.4,6.7,13.2,...,8.6,3.7,1.6,0.8,1.4,2.1,35.5,7,0,2.5
2,Al-Farouq Aminu,DAL,24,5,1,4,30.0,11.2,3.4,6.2,...,7.2,1.2,1.2,2.0,1.6,3.0,31.2,1,0,3.6
3,Alan Anderson,BKN,32,6,2,4,23.6,11.0,4.2,6.8,...,3.5,1.2,1.3,0.7,0.2,1.5,18.1,0,0,2.3
4,Alexis Ajinca,NOP,27,3,0,3,3.5,2.7,1.3,1.3,...,0.3,0.3,0.0,0.3,0.0,0.7,4.6,0,0,-2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,Tyson Chandler,DAL,32,5,1,4,32.1,10.2,3.8,5.8,...,10.8,0.2,1.0,0.6,1.2,3.2,27.9,2,0,-6.6
204,Vince Carter,MEM,38,11,6,5,17.8,6.3,2.5,6.1,...,4.3,1.0,0.6,0.6,0.2,1.5,14.7,0,0,-0.9
205,Will Bynum,WAS,32,3,2,1,10.5,6.3,2.3,4.7,...,1.0,1.0,1.7,0.7,0.3,2.0,10.4,0,0,-2.3
206,Zach Randolph,MEM,33,11,6,5,34.7,15.6,6.5,15.3,...,8.5,2.1,2.1,0.5,0.0,3.4,28.5,4,0,-0.6
207,Zaza Pachulia,MIL,31,6,2,4,21.4,6.7,2.7,6.7,...,6.7,1.5,0.8,1.7,0.5,2.5,22.6,0,0,-5.5

In [3]:
pd.read_csv("nba_1516.csv")

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,Aaron Harrison,CHA,21,2,1,1,3.7,0.0,0.0,0.0,...,0.5,0.0,0.0,0.0,0.0,0.5,0.6,0,0,-3.5
1,Al Horford,ATL,30,10,4,6,32.7,13.4,5.4,11.6,...,6.5,3.1,1.7,1.2,2.4,2.5,35.0,1,0,-3.8
2,Al Jefferson,CHA,31,7,3,4,24.1,13.3,6.0,11.9,...,6.1,1.1,0.9,0.6,0.4,1.7,24.5,0,0,-9.1
3,Al-Farouq Aminu,POR,25,11,5,6,33.8,14.6,5.1,11.6,...,8.6,1.8,1.9,0.7,0.9,2.8,30.7,4,0,-1.1
4,Allen Crabbe,POR,24,11,5,6,27.5,9.5,3.5,6.6,...,2.9,1.4,0.5,0.6,0.1,2.1,16.7,0,0,-1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Wesley Johnson,LAC,28,6,2,4,12.8,2.7,0.8,2.3,...,3.0,0.3,0.3,0.2,0.7,1.0,8.9,0,0,4.0
211,Wesley Matthews,DAL,29,5,1,4,34.7,13.0,4.0,12.0,...,3.6,1.2,0.8,1.2,0.0,2.8,21.9,0,0,-21.2
212,Xavier Munford,MEM,24,4,0,4,22.3,4.8,2.3,7.0,...,2.3,2.5,1.3,1.5,0.8,2.0,16.7,0,0,-11.8
213,Zach Randolph,MEM,34,4,0,4,29.9,13.0,5.8,15.5,...,8.8,1.8,1.8,0.3,0.0,2.5,25.1,2,0,-14.3
214,Zaza Pachulia,DAL,32,5,1,4,22.4,6.6,1.8,4.8,...,5.4,3.2,0.4,0.6,0.2,2.6,19.9,0,0,-14.4